<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880775330381-p5741nm3ajevi7ovr42eb6dr5r7jjm53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880775330381-p5741nm3ajevi7ovr42eb6dr5r7jjm53</string>
	<key>API_KEY</key>
	<string>AIzaSyBkqwjauHsURSJJou5oxcbArPYR0HjB0q0</string>
	<key>GCM_SENDER_ID</key>
	<string>880775330381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ng.ajo</string>
	<key>PROJECT_ID</key>
	<string>ajo-f1b9b</string>
	<key>STORAGE_BUCKET</key>
	<string>ajo-f1b9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880775330381:ios:23764b7f92f24dc2b5fa04</string>
</dict>
</plist>